*
{
    margin: 0;
    padding: 0;
}

#calculator
{
    background: rgb(166, 166, 166);
    width: 240px;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
}

#screen
{
    height: 50px;
    width: 230px;
    border: none;
    background: rgb(128, 191, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: right;
    padding: 0px 5px;
}

.button, .operation, #result
{
    width: 47px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin: 5px 5px;
}
.button:active, .operation:active, #result:active
{
    transform: translateY(4px);
}

.operation, #result
{
    background: rgb(204, 255, 153);
}

.button
{
    background: rgb(230, 230, 230);
}

#reset, #result
{
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    color: rgb(255, 51, 0);
}